{% from "macros.html" import cabecalho %}
{% extends "base.html" %}

{% block title %} Página principal {% endblock %}
    
{% block content %}        
    {{ cabecalho() }}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/registro" style="float: right;">[Registro]</a>
                <a href="/login" style="float: right;">[Login] </a>                
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4">
                <h3>Colouna 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>Coluna 2</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>Coluna 3</h3>        
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
    </div>        
{% endblock %}