{% extends "dashboard/base_dashboard.html" %}

{% block conteudodashboard %}
        <div class="container-fluid mt-4">
            <div class="row">
                <!-- Log das atividades do usuário -->
                <div class="col-md-3">
                    <div class="card">
                    <div class="card-header">
                        Minhas Atividades
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                        <!-- Converter para uma lista de mensagens de logs do usuário -->
                        <li class="list-group-item">Nova análise de processo: "Analise processo 1"</li>
                        <li class="list-group-item">Tarefa completa: "Resumo do processo 1 gerado com sucesso!"</li>
                        </ul>
                    </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <!-- Analises do processos -->
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Análise Processo 1</h5>
                                    <p class="card-text">Análise: 100% Completa</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Análise Processo 2</h5>
                                    <p class="card-text">Análise: 75% Completa</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Análise Processo 3</h5>
                                    <p class="card-text">Análise: 25% Completa</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Buscar processo -->
                        <div class="col-md-12 mt-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Buscar Processo</h5>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Pesquisa..." aria-label="Pesquisa">
                                        <button class="btn btn-primary" type="button">Pesquisa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}